$woninginbraak: #ac0000;
$poging-tot-woninginbraak: #ffad00;

@import 'reset';
@import 'leaflet';
@import 'markercluster';
@import 'pie';
@import 'marker';
@import 'filters';

#map {
  flex: 1 1 auto;
}

